html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #fff;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
.field-checkbox-input.visually-hidden,
.field-radio-input.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 17px 50px;
  font: inherit;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fb565a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background: #000;
}


/* шапка сайта*/

.main-header {
  margin: 0;
  padding: 0;
  background-color: #eee;
  margin-bottom: 80px;
}

.inner .main-header {
  margin-bottom: 55px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation-list {
  display: flex;
  justify-content: flex-start;
  width: 640px;
  margin: 0;
  padding: 0;
  margin-top: 75px;
  list-style: none;
  font-size: 0;
}

.main-navigation-item {
  margin: 0;
  padding: 0;
  margin-right: 40px;
  padding-bottom: 10px;
}

.main-navigation .main-navigation-item__active {
  position: relative;
}

.main-navigation .main-navigation-item__active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation-link {
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.main-navigation-link:hover {
  color: #fb565a;
}

.main-navigation-item__active:hover .main-navigation-link,
.main-navigation-item__active:active .main-navigation-link {
  opacity: 1;
  color: #000;
}

.main-navigation-link:active {
  color: #000;
  opacity: 0.3;
}

.main-header-logo {
  width: 160px;
  margin-right: 200px;
  margin-top: 50px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-header-logo:hover.main-header-logo__active,
.main-header-logo:active.main-header-logo__active {
  opacity: 1;
}

.main-header-logo-img {
  width: 160px;
  height: 65px;
}

.header-basket {
  width: 130px;
  margin-top: 75px;
  margin-left: auto;
}

.header-basket-link {
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.header-basket-link::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-basket-link:hover {
  color: #fb565a;
}

.header-basket-link:active {
  color: #000;
  opacity: 0.3;
}

.header-basket-link:hover.header-basket-link__active,
.header-basket-link:active.header-basket-link__active {
  color: #000;
  opacity: 1;
}

.slider {
  position: relative;
  width: 1160px;
  height: 430px;
  background-color: #eee;
}

.slider-input {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-sliders {
  width: 300%;
}

.slider-one,
.slider-two,
.slider-three {
  float: left;
  width: 1160px;
  height: 430px;
  overflow: hidden;
}

.slider-title {
  margin: 0;
  width: 520px;
  margin-top: 80px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-text {
  margin: 0;
  width: 410px;
  margin-top: 25px;
  margin-bottom: 40px;
  color: #5d6367;
}

.slider-btn {
  width: 140px;
}

.slider-btn:hover {
  background-color: #e74246;
}

.slider-btn:active {
  background-color: #d7373b;
  color: rgba(227, 115, 118, 0.3);
  box-shadow: inset 0 3px #c13135;
}

.slider-one {
  background-image: url("../img/slide1-min.png");
  background-repeat: no-repeat;
  background-position: bottom right 30px;
}

.slider-two {
  background-image: url("../img/slide2-min.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.slider-three {
  background-image: url("../img/slide3-min.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 100px;
  width: 140px;
  height: 20px;
  margin-left: -65px;
  text-align: center;
  z-index: 100;
}

.slider-controls .slider-controls-label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

#btn-1:checked~.slider-controls label[for="btn-1"]::after,
#btn-2:checked~.slider-controls label[for="btn-2"]::after,
#btn-3:checked~.slider-controls label[for="btn-3"]::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border: 2px solid #c3c3c3;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px #fff;
  box-shadow: 0 0 0 5px #fff;
}

#btn-1:checked~.slider-inner .slider-sliders {
  -webkit-transform: translate(0);
  transform: translate(0);
}

#btn-2:checked~.slider-inner .slider-sliders {
  -webkit-transform: translate(-1160px);
  transform: translate(-1160px);
}

#btn-3:checked~.slider-inner .slider-sliders {
  -webkit-transform: translate(-2320px);
  transform: translate(-2320px);
}


/*главная страница*/

.features {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 78px;
  border-bottom: 2px solid #eee;
}

.features-item {
  width: 300px;
  margin-right: 100px;
}

.features-item:last-child {
  margin-right: 60px;
}

.features-photo {
  margin-bottom: 30px;
}

.features-photo-img {
  width: 300px;
  height: 146px;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features-text {
  width: 260px;
  margin-bottom: 35px;
}

.features-item-btn {
  padding: 18px 35px;
}

.features-item-btn:hover.features-item-btn__web {
  background-color: #e74246;
}

.features-item-btn:active.features-item-btn__web {
  background-color: #d7373b;
  color: rgba(228, 135, 137, 0.3);
  box-shadow: inset 0 3px #c13135;
}

.features-item-btn.features-item-btn__annexes {
  background-color: #00ca74;
}

.features-item-btn:hover.features-item-btn__annexes {
  background-color: #00bc6c;
}

.features-item-btn:active.features-item-btn__annexes {
  background-color: #00aa62;
  color: rgba(116, 198, 156, 0.3);
  box-shadow: inset 0 3px #009958;
}

.features-item-btn.features-item-btn__presentation {
  background-color: #efc84a;
}

.features-item-btn:hover.features-item-btn__presentation {
  background-color: #eab534;
}

.features-item-btn:active.features-item-btn__presentation {
  background-color: #e5a722;
  color: rgba(237, 196, 127, 0.3);
  box-shadow: inset 0 3px #ce961f;
}

.index-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 2px solid #eee;
}

.index-content-left {
  width: 700px;
  margin-right: auto;
}

.index-content-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 35px;
  padding-top: 40px;
}

.index-content-text {
  width: 620px;
  margin-bottom: 40px;
}

.index-content-caption {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.index-content-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-content-item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
}

.index-content-item::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.index-content-right {
  width: 360px;
  margin-left: auto;
}

.index-content-logo {
  margin-top: 40px;
  margin-bottom: 37px;
}

.index-content-logo-img {
  width: 360px;
  height: 208px;
}

.index-content-table {
  width: 360px;
  height: 95px;
}

.table-cell {
  width: 120px;
  height: 30px;
  padding-top: 28px;
  padding-right: 10px;
}

.table-cell.table-cell__bold {
  padding-top: 10px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.index-content-partners {
  margin-bottom: 80px;
  padding-top: 46px;
  padding-bottom: 44px;
  border-bottom: 2px solid #eee;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.partners-link {
  opacity: 0.2;
}

.partners-link:hover {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}


/*каталог*/

.catalog-title {
  width: 760px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 115px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-form {
  width: 260px;
  margin-right: auto;
}

.catalog-form-fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  border: none;
}

.catalog-form-fieldset:first-child {
  margin-bottom: 55px;
}

.catalog-form-inscription {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-form-inscription.catalog-form-inscription__range {
  margin-bottom: 50px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 14px;
  border-radius: 5px;
  background: #eeeeee;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 155px;
}

.price-controls {
  font-size: 0;
}

.price-controls-label {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  width: 50%;
}

.price-controls-label__max {
  text-align: right;
}

.price-controls-input {
  width: 60px;
  margin-left: 10px;
  padding: 6px 15px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.field-radio,
.field-checkbox {
  position: relative;
  display: block;
  padding-left: 35px;
  cursor: pointer;
}

.field-radio-name,
.field-checkbox-name {
  display: block;
  line-height: 20px;
  margin-bottom: 20px;
}

.field-radio-name:hover,
.field-checkbox-name:hover {
  color: #000;
}

.field-radio-name::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.field-radio-name:hover::after {
  opacity: 1;
}

.field-checkbox-name::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.field-radio-input:checked+.field-radio-name::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.field-radio-input:checked+.field-radio-name:hover::after {
  opacity: 1;
}

.field-checkbox-input:checked+.field-checkbox-name::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0;
  top: -2px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.field-checkbox-input:checked+.field-checkbox-name:hover::after {
  opacity: 1;
}

.field-checkbox-name:hover::after {
  opacity: 1;
}

.field-radio.disabled,
.field-checkbox.disabled {
  opacity: 0.3;
  cursor: default;
}

.field-radio.disabled .field-checkbox-name::after,
.field-checkbox.disabled .field-radio-name::after,
.field-checkbox-input:disabled+.field-checkbox-name::after,
.field-radio-input:disabled+.field-radio-name::after{
  opacity: 0.1;
  cursor: default;
}

.field-checkbox-input:checked:disabled+.field-checkbox-name::after,
.field-radio-input:checked:disabled+.field-radio-name::after{
  opacity: 0.1;
  cursor: default;
}

.field-form-btn {
  width: 100%;
  padding: 17px 88px;
  margin-top: 44px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
  background: #eee;
}

.field-form-btn:hover {
  background: #dfdfdf;
}

.field-form-btn:active {
  background: #d5d5d5;
  color: rgba(169, 169, 169, 0.3);
  -webkit-box-shadow: inset 0 -3px #bfbfbf;
  box-shadow: 0 -3px #bfbfbf;
}

.catalog {
  width: 760px;
  margin-left: auto;
}

.sort-row {
  margin-bottom: 55px;
}

.sort-row-list {
  margin: 0;
  padding: 0;
  width: 760px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 0;
}

.sort-row-item {
  margin: 0;
  padding: 0;
  margin-right: 25px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-row-item.sort-row-item__title {
  margin-right: 270px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  opacity: 1;
}

.sort-row-item.sort-row-item__title:hover {
  opacity: 1;
}

.sort-row-item.sort-row-item__active,
.sort-row-item.sort-row-item__active:hover,
.sort-row-item.sort-row-item__active:active {
  opacity: 1;
}

.sort-row-item:last-child {
  margin-right: 0;
}

.sort-row-link {
  color: #000;
  text-decoration: none;
}

.sort-row-item:hover {
  opacity: 0.6;
}

.sort-row-item:active {
  opacity: 1;
}

.sort-row-item.sort-row-item__arrow {
  margin-left: 50px;
  margin-left: 20px;
}

.sort-row-link.sort-row-link__arrow {
  position: relative;
  font-size: 0;
}

.sort-row-link.sort-row-link__down::after {
  position: absolute;
  content: "";
  top: -10px;
  width: 11px;
  height: 11px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.sort-row-link.sort-row-link__up::after {
  position: absolute;
  content: "";
  top: -10px;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.catalog-item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 358px;
  height: 576px;
  margin-bottom: 70px;
  margin-right: 40px;
  border: 1px solid #ccc;
  border-top: none;
  cursor: pointer;
}

.catalog-item:hover.catalog-item::after {
  opacity: 1;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-item-photo {
  position: relative;
}

.catalog-item-photo-img {
  max-width: 100%;
  height: 576px;
}

.catalog-item-photo::after {
  position: absolute;
  content: "";
  width: 360px;
  height: 40px;
  top: -39px;
  left: -1px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-item-info {
  display: none;
}

.catalog-item:hover .catalog-item-info {
  display: block;
}

.catalog-item:hover .catalog-item-photo::after {
  opacity: 1;
}

.catalog-item-info {
  position: absolute;
  bottom: -9px;
  ;
  left: -1px;
  width: 360px;
  height: 232px;
  text-align: center;
  background-color: #eee;
  overflow-y: hidden;
  z-index: 10;
}

.catalog-item-info-link {
  display: block;
  padding-top: 29px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item-info-text {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 225px;
  max-height: 54px;
  margin-bottom: 20px;
  line-height: 18px;
  color: #666;
  overflow: hidden;
}

.catalog-item-info-btn {
  display: inline-block;
  padding: 17px 60px;
}

.catalog-item-info-btn:hover {
  background: #e74246;
}

.catalog-item-info-btn:active {
  background: #d7373b;
  box-shadow: inset 0 3px #c13135;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 18px 20px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.pagination-link.pagination-link__active {
  padding: 15px 20px;
  border: 3px solid #dbdbdb;
  background: #fff;
  border-radius: 5px;
}

.pagination-link.pagination-link__next {
  padding: 18px 76px;
  font-weight: 500;
  text-transform: uppercase;
}

.pagination-link:hover {
  background-color: #dfdfdf;
}

.pagination-link:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: 0 -3px 0 0 #bfbfbf;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  opacity: 0.3;
}

.pagination-link.pagination-link__active:hover,
.pagination-link.pagination-link__active:active {
  background-color: #fff;
}


/*карта*/

.map {
  margin: 0;
  padding: 0;
  position: relative;
  background: url("../img/map.png") no-repeat;
  background-position: center;
}

.map .container {
  position: relative;
  width: 1160px;
  height: 416px;
  margin: 0 auto;
}

.google-map {
  width: 100%;
  height: 416px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.contact {
  max-width: 220px;
  position: absolute;
  top: 50px;
  left: 20px;
  text-align: left;
  padding: 48px;
  background: #fff;
  overflow: hidden;
}

.contact-title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.contact-text {
  margin: 0;
  margin-top: 27px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contact-text.contact-text__tel {
  margin-top: 20px;
  margin-bottom: 40px;
}

.contact-btn {
  margin: 0;
  padding: 0;
  padding: 16px 45px;
  white-space: nowrap;
}

.contact-btn:hover {
  background: #e74246;
}

.contact-btn:active {
  background: #d7373b;
  color: rgba(227, 115, 118, 0.3);
}


/*футер*/

.main-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 70px;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  width: 360px;
}

.social-btn {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 12px;
  font-size: 0;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  background: #e1e1e1;
}

.social-btn-vk {
  position: absolute;
  top: 33px;
  left: 27px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-btn-fb {
  position: absolute;
  top: 29px;
  left: 34px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-btn-insta {
  position: absolute;
  top: 29px;
  left: 29px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.social-btn:hover {
  background: #e74246;
}

.social-btn:active {
  background: #d7373b;
}

.social-btn:active .social-btn-vk,
.social-btn:active .social-btn-fb,
.social-btn:active .social-btn-insta {
  opacity: 0.3;
}

.friends {
  width: 560px;
  margin-right: 200px;
}


/*модальное окно*/

.modal-content {
  display: none;
}
